body {
  background-color: midnightblue;
  width: 100%;
  background: url(../img/logo/pan-a.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  height: 19em;
  /* padding: 1em; */
  
}

h1 {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: aliceblue;
}

h2 {
  font-weight: bold;
  color: aliceblue;
}

h3 {
  color: aliceblue;
  font-weight: bold;
}
h4 {
  color: aliceblue;
  font-weight: bold;
}

h5 {
  color: aliceblue;
  font-weight: bold;
}

h6 {
  color: aliceblue;
  font-weight: bold;
}

p {
  color: aliceblue;
}

div {
  padding: 1rem;
}

.email {
  font-weight: bold;
  color: chartreuse;
}

.lead {
  color: aliceblue !important;
  
}

.jumbotron-fluid {
  background-color: royalblue;
  /* background: url(../img/logo/pan-a.jpg); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; */
  opacity: 0.8;
}

.startup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-title {
  color: navy;
}

